.login-container {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.insta {
  display: flex;
  flex-direction: column;
}
.center {
  align-items: center;
}
.insta-logo {
  width: 78px;
  height: 40px;
}
.insta-title {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  color: var(--font-color);
  margin-top: 12px;
  margin-bottom: 36px;
}

.insta-from {
  margin: 24px 0 24px 0;
}
.insta-form__input {
  height: 40px;
  margin-bottom: 24px;
  background-color: #eeeeee;
  border-radius: 2px;
  border: 0px;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .insta-desktop__image {
    display: none;
  }
  .insta-form__button,
  .insta-form__input {
    width: 85vw;
  }
}
.insta-form__label {
  margin-bottom: 8px;
  font-family: 'Roboto';
  color: var(--font-color);
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}
.insta-form__button {
  background-color: #4094ef;
  border-radius: 8px;
  height: 40px;
  border: none;
  color: white;
  font-family: 'Roboto';
  font-weight: 700;
}

@media only screen and (min-width: 993px) and (max-width: 1100px) {
  .insta-desktop__image img {
    width: 500px;
  }
}

@media only screen and (min-width: 993px) {
  .insta-share {
    display: flex;
    flex-direction: row;
    gap: 82px;
  }
  .insta-form__button,
  .insta-form__input {
    width: 25vw;
  }
  .insta-logo-form {
    padding: 60px 48px;
    background: #fefeff;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    border-radius: 8px;
  }
  .login-container {
    margin: auto;
  }
}

.error-msg {
  color: #ef4444;
  font-family: 'Roboto';
}
